<strong>Contact</strong>
<p>
  Pour toutes questions concernant le site ou l'équipe du Réseau des anciens, merci d'envoyer un email à <%= mail_to "lereseau.philanthropos@gmail.com" %> ; nous vous répondrons très vite (si si c'est vrai !)
</p>