<p><strong>Vision</strong></p>
<p>
  Le réseau Philanthropos rassemble les anciens étudiants de l’Institut Philanthropos dans le but d’approfondir  l’expérience intellectuelle, spirituelle et fraternelle vécue à Bourguillon.
</p>
<p>
  Le réseau, c’est plus de 400 anciens, dont une moitié d’étudiants, répartis entre la France, la Suisse, le Canada, la Belgique … et le monde entier.
</p>
<p>
  Forts de l’enseignement reçus et des amitiés nouées, nombreux sont ceux qui souhaitent s’investir  - par leur profession, par leur engagement associatif, ou ecclésial -  dans la société civile. 
</p>
<p>
  Notre réseau, c’est une plateforme d’échange, un annuaire, mais aussi des évènements, des projets. 
</p>
<p>
  Tu y es le bienvenu ! Pour que l’expérience Philanthropos continue, investi toi dans le réseau !
</p>
<p>
  <strong>Fonctionnement</strong>
</p>
<p>
  Administrativement, le réseau est attaché à l’association des Amis de Philanthropos. Sauf souhait contraire, chaque étudiant en devient automatiquement membre à la fin de son année. Les membres sont invités à cotiser librement une fois par an pour contribuer à son bon fonctionnement. (à titre indicatif, 10 CHF/EUR pour les étudiants, 50 CHF/EUR pour les actifs).
</p>
<p>
  <strong>Equipe</strong>
</p>
<p>
  Pour le réseau
</p>
<ul class="unstyled_list">
  <li>Adelaïde, promo X, secrétaire</li>
  <li>Laure-Emmanuelle, promo IX, responsable communication</li>
  <li>Frédéric, promo IX, responsable site internet</li>
</ul>
<p>
 Pour l’association des Amis de Philanthropos
</p>
<ul class="unstyled_list">
  <li>Priscille, promo VII, trésorière</li>
  <li>Chantal, secrétaire</li>
  <li>Alexandre, promo VII, président</li>
</ul>