<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p><%= @message %></p> 
    <hr>
    <span>
      Ce message vous a été envoyé depuis le site du réseau des anciens de Philanthropos. Si ce message vous semble abusif, merci de le transférer à un administrateur.
    </span>  
  </body>
</html>