<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez récemment demandé une réinitialisation de votre mot de passe pour accéder au réseau des anciens de Philanthropos.</p>

<p><%= link_to 'Cliquez ici pour modifier votre mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email (votre mot de passe ne sera pas modifié !).</p>
<p>A très vite !</p>
